# Dependency directories
node_modules/
target/

# Tauri specific
src-tauri/target/
src-tauri/gen/

# Logs
logs
*.log
npm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Session / Config (Private)
src-tauri/*.sqlite
src-tauri/*.sqlite-journal
src-tauri/config.json

# Environment variables
.env
.env.local

# Build artifacts
dist/
bin/
