# TeleBroom - Optimized & Alphabetically Sorted Gitignore

.DS_Store
.env*
.idea/
.vscode/
*.key
*.local
*.log
*.p12
*.pem
*.pfx
*.pub
*.sw[po]
**/target/
auth_token*
bin/
dist/
id_*
logs
node_modules/
npm-debug.log*
scratch/
src-tauri/*.sqlite*
src-tauri/config.json
src-tauri/gen/
Thumbs.db
